<ion-card class="movie-card">
  <div class="movie-card__image">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/sv1xJUazXeYqALzczSZ3O6nkH75.jpg" alt="">
  </div>
  <div class="movie-card__info">
    <h3 class="info__title">Movie Title</h3>
    <p class="info__detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatem nulla sint, ratione perspiciatis dolor expedita.</p>

    <div class="info__rate">
      <h5>Rate</h5>
      <ion-icon slot="start" name="star-outline"></ion-icon>
      <ion-icon slot="start" name="star-outline"></ion-icon>
      <ion-icon slot="start" name="star-outline"></ion-icon>
      <ion-icon slot="start" name="star-outline"></ion-icon>
      <ion-icon slot="start" name="star-outline"></ion-icon>
    </div>

  </div>
</ion-card>
